<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permiso para usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Declaramos que la app puede usar cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:label="SmartSpace"
        android:theme="@style/Theme.SmartSpace"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".ResultadoGaleriaActivity"
            android:exported="false"
            android:theme="@style/Theme.SmartSpace" />
        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Pantalla de resultados -->
        <activity
            android:name=".ResultadoActivity"
            android:exported="false" /> <!-- Pantalla Live Preview -->
        <activity
            android:name=".LiveActivity"
            android:exported="false" />

    </application>

</manifest>